PORT=4000
DATABASE_URL=postgres://usuario:password@localhost:5432/nombre_bd
NODE_ENV=development
SPOTIFY_CLIENT_ID=tu_spotify_client_id
SPOTIFY_CLIENT_SECRET=tu_spotify_client_secret
ADMIN_PASS=tu_password_secreta_admin
JWT_SECRET=tu_jwt_secret_opcional
